<!--begin who-->
<section class="who">
    <div class="container">
        <div class="who__wrapper who_wrap">
           <div class="who_wrap__image">
               <img src="img/img_who.jpg" alt="Who I am">
           </div>
            <div class="who_wrap__info">
                <h2 class="title">Who I Am</h2>
                <p>To constantly stay in the flow, to grow mentally and spiritually, to stay in connection with my body and  to live in harmony with the earth and the universal laws - this is my life's task.I give workshops and lectures on the topic: "Facilitate the earth and heal yourself" - a deeply transforming work developed which I developed and which creates a reconnection to the earth, to all her creatures and thus to myself. I am the mother of an 11 year old son and a 4 year old daughter.</p>
            </div>
        </div>
    </div>
    <div class="who__text who_text">
       <div class="container">
           <div class="who_text__wrapper who_wrap">
               <div class="who_wrap__item">
                   <div class="border_text">
                       <p>We can participate in our world in a much more rich way, when we discover grandma’s secret cookie recipe.</p>
                   </div>
                   <p>Having gained distance and sophistication of perception we can turn and recognize who we have been all along, we are our world, knowing itself. If we are able to use this stunning feature of connecting and bonding correctly, we are able to live fully. Acknowledging where we are now, gives us the chance to move forward. How are we feeling most of the day? What is our heart saying when we make some space to really listen? Stet clita kasd gubergren, no sea takimata sanctus.</p>
               </div>
              <div class="who_wrap__item">
                  <h3 class="title">If you do nothing you multiply by zero</h3>
                  <p>Having gained distance and sophistication of perception we can turn and recognize who we have been all along, we are our world, knowing itself. If we are able to use this stunning feature of connecting and bonding correctly, we are able to live fully. Acknowledging where we are now, gives us the chance to move forward.</p>
                  <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
              </div>
           </div>
       </div>
    </div>
</section>
<!--end who-->
<!--begin find-->
<section class="find">
    <div class="container">
        <div class="find__image">
            <img src="img/img_find.jpg" alt="Find">
        </div>
        <div class="find__title">
            <h2 class="title">Finding my new way of life</h2>
        </div>
        <div class="find__wrapper find_wrap">
            <div class="find_wrap__item">
                <p>How are we feeling most of the day? What is our heart saying when we make some space to really listen? What is our heart saying when.  At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                <!-- Swiper -->
                <div class="swiper-container swiper-offer">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="img/img_find_2.jpg" alt="Find"></div>
                        <div class="swiper-slide"><img src="img/img_find_2.jpg" alt="Find"></div>
                        <div class="swiper-slide"><img src="img/img_find_2.jpg" alt="Find"></div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="find_wrap__item">
                <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
                <p>How are we feeling most of the day? What is our heart saying when we make some space to really listen? What is our heart saying when.  At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                <div class="border_text__left">
                    <p>The ultimate measure of a man is not where he stands in moments of comfort and convenience, but where he stands at times of challenge and controversy.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end find-->