<!--begin contact-->
<section class="contact">
    <div class="container">
        <div class="contact__wrapper contact_wrap">
            <div class="contact_wrap__item contact_item">
                <h1 class="title">
                    Let’s get in touch!
                </h1>
                <p>Vielleicht ein kurzer netter Satz an dieser Stelle.</p>
                <div class="contact_item__info contact_info">
                    <p><b>Contact</b></p>
                    <a href="tel:+000000000">+000000000</a>
                    <a href="mailto:mail@mail.mail">mail@mail.mail</a>
                    <p>something</p>

                    <p><b>Location</b></p>
                    <p> Berlin, Bali</p>
                </div>
            </div>
            <div class="contact_wrap__item contact_item">
                <img src="img/img_contact.jpg" alt="Contact">
            </div>
        </div>
    </div>
</section>
<!--end contact-->