<!--begin footer-->
<footer class="footer">
    <div class="container">
        <div class="footer__wrapper footer_wrap">
            <div class="footer_wrap__left">
                <!--begin footer item-->
                <div class="footer_wrap__item footer_item">
                    <div class="footer_item__info footer_info">
                        <h3 class="title">Let’s Connect!</h3>
                        <ul>
                            <li>
                                <a href="mailto:email@email.com">
                                    <span><i class="fas fa-envelope"></i></span>
                                    email@email.com
                                </a>
                            </li>
                            <li>
                                <a href="#/">
                                    <span><i class="fab fa-facebook-f"></i></span>
                                    Facebook
                                </a>
                            </li>
                            <li>
                                <a href="#/">
                                   <span> <i class="fab fa-linkedin-in"></i></span>
                                    Linkedin
                                </a>
                            </li>
                            <li>
                                <a href="#/">
                                    <span><i class="fab fa-xing"></i></span>
                                    Xing
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--end footer item-->
                <!--begin footer item-->
                <div class="footer_wrap__item footer_item">
                    <div class="footer_item__info footer_info">
                        <h3 class="title">Information</h3>
                        <ul>
                            <li>
                                <a href="#/">Legal</a>
                            </li>
                            <li>
                                <a href="#/">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#/">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--end footer item-->
            </div>
            <div class="footer_wrap__right">
                <!--begin footer item-->
                <div class="footer_wrap__item footer_item">
                    <div class="footer_item__info footer_info">
                        <h3 class="title">Join my Newsletter!</h3>
                        <p>Sweet things will be delivered to your inbox on a monthly basis. No Spam! Promise!</p>
                        <form>
                            <input type="email" placeholder="email@provider.com">
                            <input type="submit" value="Go">
                        </form>
                    </div>
                </div>
                <!--end footer item-->
            </div>
        </div>
        <div class="footer__copyright copyright">
            <p>Copyright © 2018 Tanja Wenzel</p>
            <p>Site made with <span>❤</span> by SYL</p>
        </div>
    </div>
</footer>
<!--end footer-->