<!--begin offer top-->
<section class="offer_top">
    <div class="container">
        <div class="offer_wrapper offer_wrap">
            <div class="offer_wrap__image">
                <img src="img/img_reconnecting_1.jpg" alt="Reconnecting">
            </div>
            <div class="offer_wrap__info">
                <h2 class="title">Re-Connecting</h2>
                <p>Acknowledging where we are now, gives us the chance to move forward. How are we feeling most of the day? What is our heart saying when we make some space to really listen?</p>
                <div class="border_text__left">
                    <p>We are finally able to come “Home” again. We can participate in our world in a richer way, a more responsible and graceful way than before.</p>
                </div>
                <p>Having gained distance and sophistication of perception we can turn and recognize who we have been all along, we are our world, knowing itself. If we are able to use this stunning feature of connecting and bonding correctly, we are able to live fully.</p>
            </div>
        </div>
    </div>
</section>
<!--end offer top-->
<!--begin aspiring-->
<section class="aspiring">
    <div class="container">
        <div class="aspiring__wrapper aspiring_wrap">
            <div class="aspiring_wrap__item">
                <h2 class="title">Aspiring to something?</h2>
                <div class="border_text__left">
                    <p>We can participate in our world in a much more rich way, when we discover grandma’s secret cookie recipe.</p>
                </div>
            </div>
            <div class="aspiring_wrap__item">
                <div><p>Having gained distance and sophistication of perception we can turn and recognize who we have been all along, we are our world, knowing itself. If we are able to use this stunning feature of connecting and bonding correctly, we are able to live fully. Acknowledging where we are now, gives us the chance to move forward. How are we feeling most of the day? What is our heart saying when we make some space to really listen?</p>
                    <p>What is our heart saying when we make some space to really listen?</p>
                    <p>Acknowledging where we are now, gives us the chance to move forward. </p>
                </div>
                <div>
                    <p>Having gained distance and sophistication of perception we can turn and recognize who we have been all along, we are our world, knowing itself. If we are able to use this stunning feature of connecting and bonding correctly, we are able to live fully.</p>
                    <p>Acknowledging where we are now, gives us the chance to move forward. How are we feeling most of the day? What is our heart saying when we make some space to really listen?</p>
                    <p>What is our heart saying when we make some space to really listen? Acknowledging where we are now, gives us the chance to move forward.</p>
                </div>
                <h4 class="title">Schedule a consultation</h4>
            </div>
        </div>
    </div>
    <div class="aspiring__image">
        <img src="img/img_aspiring.jpg" alt="Aspiring">
    </div>
</section>
<!--end aspiring-->
<!--begin engaging-->
<section class="engaging">
    <div class="container">
        <div class="engaging__title">
            <h2 class="title">Are you engaging mindfully?</h2>
        </div>
        <div class="engaging__wrapper engaging_wrap">
            <div class="engaging_wrap__item engaging_item">
                <p>Having gained distance and sophistication of perception we can turn and recognize who we have been all along, we are our world, knowing itself. If we are able to use this stunning feature of connecting and bonding correctly, we are able to live fully. Acknowledging where we are now, gives us the chance to move forward. How are we feeling most of the day? What is our heart saying when we make some space to really listen?</p>
                <p>What is our heart saying when we make some space to really listen?
                    Acknowledging where we are now, gives us the chance to move forward.
                </p>
                <h4 class="title">
                    Schedule a consultation
                </h4>
            </div>
            <div class="engaging_wrap__item engaging_item">
                <div class="engaging_item__text">
                    <p>If we are able to use this stunning feature of connecting and bonding correctly, we are able to live fully. Acknowledging where we are now, gives us the chance to move forward. How are we feeling most of the day? What is our heart saying when we make some space to really listen?</p>
                    <p>What is our heart saying when we make some space to really listen? How are we feeling most of the day? Acknowledging where we are now, gives us the chance to move forward.</p>
                </div>
                <div class="engaging_item__image">
                    <!-- Swiper -->
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="img/img_engaging.jpg" alt="Engaging"></div>
                            <div class="swiper-slide"><img src="img/img_engaging.jpg" alt="Engaging"></div>
                            <div class="swiper-slide"><img src="img/img_engaging.jpg" alt="Engaging"></div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="engaging_item__border">
                    <p>Be a warrior when it comes to delivering on your ambitions. And a saint when it comes to treating people with respect, modeling generosity, and showing up with outright love.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end engaging-->
<!--begin offer slider-->
<section class="offer_slider">
    <div class="container">
        <div class="swiper-offer">
            <div class="swiper-wrapper">
                <div class="swiper-slide offer_slider__info slider_info">
                    <img src="img/img_slider_1.jpg" alt="Slider">
                    <div class="slider_info__item info_item">
                        <h3 class="title">Giulia & Tanja</h3>
                        <p>How are we feeling most of the day? What is our heart saying when we make some space.</p>
                    </div>
                </div>
                <div class="swiper-slide offer_slider__info slider_info">
                    <img src="img/img_slider_1.jpg" alt="Slider">
                    <div class="slider_info__item info_item">
                        <h3 class="title">Giulia & Tanja</h3>
                        <p>How are we feeling most of the day? What is our heart saying when we make some space.</p>
                    </div>
                </div>
                <div class="swiper-slide offer_slider__info slider_info">
                    <img src="img/img_slider_1.jpg" alt="Slider">
                    <div class="slider_info__item info_item">
                        <h3 class="title">Giulia & Tanja</h3>
                        <p>How are we feeling most of the day? What is our heart saying when we make some space.</p>
                    </div>
                </div>
                <div class="swiper-slide offer_slider__info slider_info">
                    <img src="img/img_slider_1.jpg" alt="Slider">
                    <div class="slider_info__item info_item">
                        <h3 class="title">Giulia & Tanja</h3>
                        <p>How are we feeling most of the day? What is our heart saying when we make some space.</p>
                    </div>
                </div>
            </div>
            <!-- Add Arrows -->
            <div class="slider_navigation">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>

    </div>
</section>
<!--end offer slider-->
<!--begin cooperation-->
<section class="cooperation">
    <div class="container">
        <div class="cooperation__title">
            <h2 class="title">Let’s work together!</h2>
        </div>
        <div class="cooperation__wrapper">
            <div>
                <p>How are we feeling most of the day? What is our heart saying when we make some space to really listen? What is our heart saying when.</p>
                <p>Acknowledging where we are now, gives us the chance to move forward. </p>
            </div>
            <div>
                <p>Having gained distance and sophistication of perception we can turn and recognize who we have been all along, we are our world, knowing itself. If we are able to use this stunning feature of connecting and bonding correctly.</p>
            </div>
        </div>
    </div>
</section>
<!--end cooperation-->