<!--begin indigenous-->
<section class="indigenous">
    <div class="container">
       <div class="indigenous__wrapper indigenous_wrap">
           <div class="indigenous_wrap__image">
               <img src="img/img_indigenous.jpg" alt="Indigenous">
           </div>
           <div class="indigenous_wrap__info">
               <h2 class="title">Indigenous</h2>
               <div>
                   <p>Acknowledging where we are now, gives us the chance to move forward. How are we feeling most of the day? What is our heart saying when we make some space to really listen? Having gained distance and sophistication of perception we can turn and recognize who we have been all along, we are our world, knowing itself. If we are able to use this stunning feature of connecting and bonding correctly, we are able to live fully.<p>
               </div>
               <div>
                   <p>Having gained distance and sophistication of perception we can turn and recognize who we have been all along, we are our world, knowing itself.</p>
                   <p>If we are able to use this stunning feature of connecting and bonding correctly, we are able to live fully. What is our heart saying when we make some space to really listen? </p>
               </div>
           </div>
       </div>
    </div>
</section>
<!--end indigenous-->
<!--begin rice-->
<section class="rice_post">
    <div class="container">
        <img src="img/img_who_1.jpg" alt="Bali">
        <div class="rice_post__wrapper">
            <div>
                <p>If we are able to use this stunning feature of connecting and bonding correctly, we are able to live fully. Acknowledging where we are now, gives us the chance to move forward. How are we feeling most of the day? What is our heart saying when we make some space to really listen? What is our heart saying when we make some space to really listen? How are we feeling most of the day? Acknowledging where we are now, gives us the chance to move forward.</p>
                <p>Acknowledging where we are now, gives us the chance to move forward. How are we feeling most of the day? What is our heart saying when we make some space to really listen?</p>
            </div>
            <div>
                <p>Having gained distance and sophistication of perception we can turn and recognize who we have been all along, we are our world, knowing itself.</p>
                <p>If we are able to use this stunning feature of connecting and bonding correctly, we are able to live fully. Acknowledging where we are now, gives us the chance to move forward. How are we feeling most of the day? What is our heart saying when we make some space to really listen? What is our heart saying when we make some space to really listen? Acknowledging where we are now, gives us the chance to move forward. </p>
            </div>
            <div class="border_text__top">
                <p>There is a fine balance between honoring the past and losing yourself in it. For example, you can acknowledge and learn from mistakes you made, and then move on and refocus on the now. It is called forgiving yourself.</p>
            </div>
        </div>
        <div class="rice_post__info">
            <p><span>Image:</span></p>
            <p>My home in Bali overlooking the rice fields</p>
        </div>
    </div>
</section>
<!--end rice-->
<!--begin ask-->
<section class="ask">
    <div class="container">
        <div class="ask__title">
            <h2 class="title">Ask… and it’s given!</h2>
        </div>
    </div>
    <div class="ask__images ask_images">
        <div class="ask_images__item ask_image">
            <img src="img/img_ask_1.jpg" alt="Ask">
        </div>
        <div class="container">
            <div class="ask_images__item ask_image">
                <img src="img/img_ask_2.jpg" alt="Ask">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="ask__wrapper ask_wrap">
            <div class="ask_wrap__info">
                <p><span>Image:</span></p>
                <p>My home in Bali overlooking the rice fields</p>
            </div>
            <div class="ask_wrap__text">
                <div>
                    <p>Having gained distance and sophistication of perception we can turn and recognize who we have been all along, we are our world, knowing itself. If we are able to use this stunning feature of connecting and bonding correctly, we are able to live fully. Acknowledging where we are now, gives us the chance to move forward. How are we feeling most of the day? What is our heart saying when we make some space to really listen?</p>
                    <p> What is our heart saying when we make some space to really listen?
                        Acknowledging where we are now, gives us the chance to move forward. </p>
                </div>
                <div>
                    <p>If we are able to use this stunning feature of connecting and bonding correctly, we are able to live fully. Acknowledging where we are now, gives us the chance to move forward. How are we feeling most of the day? What is our heart saying when we make some space to really listen?</p>
                    <p> What is our heart saying when we make some space to really listen? How are we feeling most of the day? Acknowledging where we are now, gives us the chance to move forward.</p>
                </div>
                <div class="border_text__left">
                    <p>We are finally able to come “Home” again. We can participate in our world in a richer way, a more responsible and graceful way than before.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end ask-->